<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--系统用户-->
  <action url="Base_SysManage/Base_User/GetDataList" needPermission="sysuser.search" />
  <action url="Base_SysManage/Base_User/SaveData" needPermission="sysuser.manage" />
  <action url="Base_SysManage/Base_User/DeleteData" needPermission="sysuser.manage" />
  <action url="Base_SysManage/Base_User/SavePermission" needPermission="sysuser.manage" />
  <!--系统角色-->
  <action url="Base_SysManage/Base_SysRole/GetDataList" needPermission="sysuser.search" />
  <action url="Base_SysManage/Base_SysRole/SaveData" needPermission="sysuser.manage" />
  <action url="Base_SysManage/Base_SysRole/DeleteData" needPermission="sysuser.manage" />
  <action url="Base_SysManage/Base_SysRole/SavePermission" needPermission="sysuser.manage" />

  <!--分类管理-->
  <action url="Admin/tb_category/GetDataList" needPermission="category.search" />
  <action url="Admin/tb_category/SaveData" needPermission="category.save" />
  <action url="Admin/tb_category/DeleteData" needPermission="category.delete" />

  <!--咨询师管理-->
  <action url="Admin/tb_counselor/GetDataList" needPermission="counselor.search" />
  <action url="Admin/tb_counselor/SaveData" needPermission="counselor.save" />
  <action url="Admin/tb_counselor/DeleteData" needPermission="counselor.delete" />

  <!--用户-->
  <action url="Admin/tb_user/GetDataList" needPermission="user.search" />
  <action url="Admin/tb_user/SaveData" needPermission="user.save" />
  <action url="Admin/tb_user/DeleteData" needPermission="user.delete" />
</configuration>