@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";
}

<div class="fx-content">
    <div id="toobar">
        <div class="btn-group btn-group-sm">
            <button onclick="openForm('', '添加数据');" type="button" class="btn btn-default" aria-label="Left Align">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                添加
            </button>
            @*<button onclick="deleteData();" type="button" class="btn btn-default" aria-label="Right Align">
                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                删除
            </button>*@
            <button type="button" class="btn btn-default" aria-label="Right Align" onclick="javascript: location.reload();">
                <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                刷新
            </button>
        </div>
    </div>
    @*<div class="fx-wrapper">
        <form class="form-inline" id="searchForm">
            <div class="form-group">
                <label>查询类别</label>
                <select class="selectpicker" name="condition" data-style="btn-default btn-sm" data-width="100px">
                    <option value="">请选择</option>
                    
                    <option value="code">分类编码</option>
                    <option value="name">分类名称</option>
                    <option value="template">提问模板信息</option>
                </select>
                <input type="text" class="form-control input-sm" name="keyword" placeholder="请输入关键字">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default btn-sm" onclick="javascript: $('#dataTable').bootstrapTable('refresh', { silent: true });">
                    <i class="glyphicon glyphicon-search"></i>
                    查询
                </button>
            </div>
        </form>
    </div>*@
    <div class="fx-wrapper">
        <table id="dataTable" class="table-bordered"></table>
    </div>
</div>

<script>
    var $table = $('#dataTable');

    $(function () {
        initTable();
        bindEvent();
    });

    //初始化表格
    function initTable() {
        
        $table.bootstrapTable({
            url: '/Admin/tb_category/GetDataList',
            idField: 'Id',
            method: 'post',
            columns: [
                { title: '分类名称', field: 'name', width: '20%' },
                { title: 'Id', field: 'Id', width: '5%', visible: false },
                { title: '分类编码', field: 'code', width: '5%' },
                { title: '父节点名称', field: 'pid', width: '5%', visible: false },
                { title: '排序', field: 'order', width: '5%' },
                { title: '提问模板信息', field: 'template', width: '5%' },
                {
                    title: '操作', field: '_', width: '80%', formatter: function (value, row) {
                        var builder = new BtnBuilder();
                        builder.AddBtn({ icon: 'glyphicon-edit', function: 'openForm', param: [row['Id']] });
                        //builder.AddBtn({ icon: 'glyphicon-trash', function: 'deleteData', param: [row['Id']] });
                        return builder.build();
                    }
                }
            ],
            //responseHandler: function (res) {
            //    return res.data;
            //},
            // bootstrap-table-treegrid.js 插件配置 -- start
            //在哪一列展开树形
            treeShowField: 'name',
            //指定父id列
            parentIdField: 'pid',
            pagination: false,
            onResetView: function (data) {
                $table.treegrid({
                    initialState: 'collapsed',// 所有节点都折叠
                    //initialState: 'expanded',// 所有节点都展开，默认展开
                    treeColumn: 0,
                    //expanderExpandedClass: 'glyphicon glyphicon-minus',  //图标样式
                    //expanderCollapsedClass: 'glyphicon glyphicon-plus',
                    onChange: function () {
                        $table.bootstrapTable('resetWidth');
                    }
                });
                //只展开树形的第一级节点
                //$table.treegrid('getRootNodes').treegrid('expand');
            }
        });
    }

    //绑定事件
    function bindEvent() {

    }

    //打开表单
    function openForm(id, title) {
        dialogOpen({
            id: 'form',
            title: title,
            btn: ['确定', '取消'],
            height:'80%',
            url: '/Admin/tb_category/Form?id={0}'.format(id || ''),
            yes: function (window, body) {
                window.submitForm();
            }
        });
    }

    //删除数据
    function deleteData(id) {
        dialogComfirm('确认删除吗？', function () {
            var ids = [];

            if (typeof (id) == 'string') {//单条数据
                ids.push(id);
            } else {//多条数据
                var rows = $table.bootstrapTable('getSelections');
                if (rows.length == 0) {
                    dialogError('请选择需要删除的数据！');
                    return;
                } else {
                    $.each(rows, function (index, value) {
                        ids.push(value['Id']);
                    })
                }
            }

            loading();
            $.postJSON('/Admin/tb_category/DeleteData', { ids: JSON.stringify(ids) }, function (resJson) {
                loading(false);

                if (resJson.Success) {
                    $table.bootstrapTable('refresh');
                    dialogSuccess('删除成功!');
                }
                else {
                    dialogError(resJson.Msg);
                }
            });
        });
    }
</script>
